<html>
<header>
    <style type="text/css">
     .product-image {
                height: 220px;
                 background-color:beige;
            }
     .img-container {
        text-align: center;
                margin-bottom:10;margin-top:-20;background-color:beige;
    </style>
</header>
<body>
  {% include "header.html" %}
  <h1 style="text-align: center; font-family: chronos serif; color: cadetblue; font-size: 50; margin-bottom: 35;">About Us</h1>
    <h2 class="img-container"><img src="/static/images/aboutus.png" alt="aboutus" class="product-image" style="max-width:100%"></h2>
      <p>J-Send is the leading food delivery platform of the John Gokongwei Student Enterprise Center (JSEC). Established in late 2019, it has strived to constantly and consistently satisfy the cravings of the Ateneo De Manila University community. It provides a convenient platform for Atenean students to order their favorite food from the JSEC stalls.</p>
      <p>J-Send has partnered with all 20 of the JSEC establishments to ensure that a wide variety of options will be available, and it promises to maintain a high standard of quality in all of its processes.</p>
    
      <p>The team behind J-Send is a small group of innovators who believe in improving the quality of life of university students. The revolutionary platform was made by students for students.</p>
</body>
    
  {% include "footer.html" %}
</body>
</html>

