<html>
    {% include "header.html" %}
<header>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	
	<style>
		body { 
		background-color: #ece0d1;
		color: #967259 ; 
		}
		a {
			color: brown;
			font-weight: bold;
		}
		.product-image {
			height: 200px;
		}
	</style>
    
</header>
<body>
	<h1 align="center">Big Fat Rolls</h1>
	<center>
		<img src="/static/images/bigfat.jpg"/>
        <div>
        <img id="choices" src="static/images/rollscombo.png" width="230" class="product-image">
        <img id="choices" src="static/images/rollsroll.png" width="230" class="product-image">
        </div> 
        <center>
        <table class="center" style="text-align: center">
    <tr><th>Code</th><th>Name</th><th>Price</th></tr>
    
    {% for product in product_list %}
    <form action="/addtocart" method="POST">
	    <tr>
	    	<td>
	    		<a style=padding-top:0px; href="productdetails?code={{product["code"]}}">{{product["code"]}}
	    		</a>
	    	</td>
	    	<td>{{product["name"]}}</td>
	    	<td>{{product["price"]}}</td>
	    	<!-- <td colspan="2"><input type="submit" name="Add to Cart" value="+"></input></td>
	    	<td colspan="2"><input type="submit" name="Remove" value="-"></input></td> -->
	    </tr>
	</form>
    {% endfor %}

  </table>
        </center>
<!--
	</center>
	<table align="center">
		<tr>
			<th>Mains:</th>
		</tr>
		<tr>
			<th>Beef Bulgogi</th>
		</tr>
		<tr>
			<td>P100</td>
		</tr>
		<tr>
			<th>Kani Mango Crunch</th>
		</tr>
		<tr>
			<td>P100</td>
		</tr>
		<tr>
			<th>Chicken Teriyaki</th>
		</tr>
		<tr>
			<td>P100</td>
		</tr>
	
		<tr>
			<th>Sides:</th>
		</tr>
		<tr>
			<th>Teriyaki Karaage</th>
		</tr>
		<tr>
			<td>P70</td>
		</tr>
		<tr>
			<th>Umami Fries</th>
		</tr>
		<tr>
			<td>P40</td>
		</tr>
		<tr>
			<th>Karaage + Fries Combo</th>
		</tr>
		<tr>
			<td>P80</td>
		</tr>
		<tr>
			<th>Drinks</th>
		</tr>
		<tr>
			<th>Red Iced Tea</th>
		</tr>
		<tr>
			<td>P30</td>
		</tr>
		<tr>
			<th>Black Gulaman</th>
		</tr>
		<tr>
			<td>P30</td>
		</tr>
	</table>
-->
	<div style="text-align: center">
		<a href="/branches">Back</a>
	</div>
    {% include "footer.html" %}
</body>
</html>