<html>
<body>
    {%include "header.html" %}
	<h1 align="center">How To Use J-Send</h1>
	
	<h2>1. Choose a stall</h2>
	<p>Choose from among the three featured stalls of the week. Your favorite not among them? Either wait until next week or try something new. Who knows — the next one might be your new favorite!</p>

	<h3>2. Add food to the cart</h3>
	<p>Satisfy all those cravings by browsing through the digital menus of each stall and adding whatever you want to your cart. You will be one step closer to satisfying that mid-class crave!</p>

	<h4>3. Select location</h4>
	<p>Choose from among the numerous designated pick-up points made available for your convenience. From Bel to BEG, the ease will want you coming back for SOM-more!</p>

	<h5>4. Pay upon successful delivery</h5>
	<p>Happy with the food you got? Share a bit of that joy with us by preparing the exact amount for a speedy transaction. We’d hate to part but if you miss us, all you have to do is add to the cart just like the start!</p>
    {%include "footer.html"%}
</body>
</html>
