{% include "header.html" %}

<head> <style type="text/css">
     .product-image {
                height: 220px;
                 background-color:beige;
            }
     .img-container {
        text-align: center;
                margin-bottom: 30;background-color:beige;
    </style></head>
<body style="background-color:cadetblue; font-family: avenir LT Std; color:khaki; text-align: center;">
 <center>
  <h1 style="font-family: Don José;text-align: center;font-size: 80px; color:firebrick">Login</h1>
    
<form action="/auth" method="POST">

 <div class="img-container"><img src="/static/images/login.png" alt="login" class="product-image" style="max-width:100%"></div><div><font color="red">{{loginerror}}</font></div>
    

 <div>
   Username or email address
 </div>

 <input type="text" name="username"></input>
 
 <div>
   Password
 </div>

 <input type="password" name="password"></input>

 <div>
   <input type="submit" value="Login"/>
 </div>
 
</form>
{% include "footer.html" %}
